#topbar{
    background-color: #e3fae3;
    padding: 20px;
    text-align: left;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

p{
    margin: 0;
}

.userinfo {
    font-size: 25px;
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    align-items: center;
}

.logout {
    color: rgb(0, 0, 255);
    text-decoration: none;
    display: block;
}

.logout:hover {
    text-decoration: underline;
    color: rgb(131, 131, 255);
}

div.userinfo img {
    margin-left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
}

div.studentinfo img {
    margin: 25px;
    min-width: 100px;
    min-height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;

}

body{
    font-size: 100%;
    padding: 0;
    margin: 0;
    background-color: #edf5ff;
}

.studentinfo{
    font-size: 25px;
    background-color: rgb(255, 194, 187);
    border: 1px solid;
    margin: 30px;
    margin-inline-start: 60px;
    margin-inline-end: 60px;
    border-radius: 10px;
    display: flex;
    justify-items: start;
}

#form_container{
    font-size: 25px;
    background-color: rgb(253, 211, 237);
    border: 1px solid;
    margin: 30px;
    padding: 20px;
    margin-inline-start: 60px;
    margin-inline-end: 60px;
    border-radius: 10px;
}


form{
    margin: 5px;
    justify-content: start;
    
}

.choices input{
    width: 4%;
    height: 1.5em;
    padding: 0;
    margin: 1px;
}

.submitbutton{
    font-weight: bold;
    font-size: 70%;
    margin: 1.75em;
    height: 3em;
    border:rgb(160, 160, 160) 1px solid;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    cursor: not-allowed;
}

div.choices{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 0px;
    padding: 5px;
    border: 1px solid;
    border-radius: 7px;
}

div#submitregion{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    align-items: center;
    justify-content: flex-end;

}

.submitbox{
    border: aliceblue 3px solid;
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 5%;
}